.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.fa-shopping-cart {
  color: red;
}

.sup {
  top: -0.9em;
  position: relative;
  font-size: 75%;
  /* line-height: 0; */
  vertical-align: baseline;
}

.badge{
  padding: 0.5em;
}